$primary: var(--primary);
$primary-20: var(--primary-20);

$gray: var(--gray);
$gray-5: var(--gray-5);

$secondary: var(--secondary);
$secondary: var(--secondary-10);

$white-darken-10: var(--white-darken-10);
$white-darken-5: var(--white-darken-5);
$white: var(--white);